{{ define "main" }}

<section class="section-padding" data-aos="fade-in" data-aos-delay="150">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9 text-center mb-40">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<stripe-pricing-table pricing-table-id="prctbl_1P3JSTHO7kJye1XtBC6xUACy"
publishable-key="pk_live_51P3FwjHO7kJye1XtNcMiI14LcAMwLdTWyFGeABxX8UokCdP44KzByjzUDdCPcFfhWh4jCuhV5gPkvZAJ4W2ilcG700g31dE6mx">
</stripe-pricing-table>
  </div>
</section>

{{ end }}